<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">-->
    <title>Document</title>
</head>
<body>
    <div class="menu">
        <ul>
            <li><a href="{% url 'home:home'%}">Home</a></li>
            <li><a href="{% url 'post:blog'%}">List</a></li>
            <li><a href="{% url 'contact:contact'%}">Contact</a></li>
            <li><a href="{% url 'register:register'%}">Register</a></li>
            <li><a href="{% url 'register:login'%}">Login</a></li>
        </ul>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>